.memberDetails {
  padding: 30px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__editAndDelete {
      button {
        margin-right: 12px;
      }
    }
  }

  &__content {
    h3 {
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 20px;
      text-transform: capitalize;
    }
    &__tasklist {
      margin-top: 30px;

      p {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 12px;
      }
    }
  }
}
