.home_page {
  height: 90vh;
  padding: 24px;

  h4 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000;
  }

  &__content {
    p {
      margin-top: 20px;
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      text-align: justify;
      color: #000000;
    }
  }

  &__btnArea {
    margin-top: 100px;

    &__btnList {
      margin-top: 100px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}

.home_btn {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  transition: all 0.3s;
  background: #028dab;
  border-radius: 8px;
  cursor: pointer;
  padding: 40px 100px;
  outline: none;
  border: none;
  text-transform: capitalize;

  &:hover {
    background: #028dab8c;
  }
}
